*{padding:0px;margin:0px}
body,td,th {font-size: 12px;color: #333}
body {background-color: #FFF;margin-left: 0px;margin-top: 15%;margin-right: 0px;margin-bottom: 0px;}
a {text-decoration: none;margin: 0px;padding: 0px;color: #666;text-decoration: none}
a:hover {color: #F60;text-decoration: underline}	
ul,li{margin:0px;padding:0px;list-style-type: none}
dl,dt,dd,p,br {margin: 0px;padding: 0px;}
form {margin: 0px;padding: 0px}
input {margin: 0px;padding: 0px}
select {margin: 0px;padding: 0px}
table,tr,td {margin: 0px;padding: 0px;}
H1 {margin: 0px;padding: 0px; font-size: 20px}
H2 {margin: 0px;padding: 0px;font-size: 14px;color: #333}
H3 {margin: 0px;padding: 0px; font-size: 14px}
H5 {margin: 0px;padding: 0px; font-size: 13px}
H6 {margin: 0px;padding: 0px; font-size: 10px}
br {margin: 0px;padding: 0px}
HR {margin: 0px;padding: 0px;color:#d2d2d2; background:#d2d2d2; border: 0; Height:1px}
img{margin: 0px;padding: 0px; border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none}
/*=================订购机票=================*/
#TicketHead {
	height: auto;
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 2px;
	overflow: hidden;
}
#JpLeft{
	float: left;
	height: auto;
	width: 975px;
	margin-right: 5px;
	overflow: hidden;
}
#JpRight{
	float: left;
	height: auto;
	width: 897px;
	margin-left: 5px;
	overflow: hidden;
}
#JpLeftTop,#JpRightTop {
	background-image: url(../Img/IcoJp.gif);
	background-repeat: repeat;
	background-position: center top;
	height: 35px;
	width: 875px;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 7px;
}
#JpLeftCenter {
	background-color: #F0F4F5;
	height: auto;
	width: 860px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #d6d6d6;
	border-left-color: #d6d6d6;
	background-image: url(../Img/IcoJpbg.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 10px;
	position: absolute;
}

.JpText {
	border: 1px solid #d2d2d2;
	height: 22px;
	width: 148px;
	font-size: 12px;
	line-height: 22px;
	color: #F60;
	padding-left: 2px;
}
.JpTextDate {
	height: 20px;
	width: 120px;
	font-size: 12px;
	line-height: 20px;
	color: #F60;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
#JpDate {
	border: 1px solid #d2d2d2;
	height: 22px;
	width: 148px;
	font-size: 12px;
	line-height: 22px;
	color: #F60;
	padding-left: 2px;
	background-color: #FFF;
}#JpDate dl dd {
	padding-left: 8px;
	padding-top: 2px!important;padding-top: 5px;
}
.Line{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #d2d2d2;
}
.LineSx{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d2d2d2;
}
#apDiv1 a,#apDiv2 a {
	font-size: 12px;
	color: #666;
}
#apDiv1 a:hover,#apDiv2 a:hover {
	font-size: 12px;
	color: #666;
	text-decoration: none;
}
#apDiv1 a:visited,#apDiv2 a:visited {
	font-size: 12px;
	color: #666;
	text-decoration: none;
}
.JpTitle li {
	float: left;
	height: 20px;
	width: 35px;
	margin-right: 3px;
	margin-left: 3px;
	text-align: center;
	line-height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #d2d2d2;
	border-right-color: #d2d2d2;
	border-left-color: #d2d2d2;
}
#apDiv1 {
	position:relative;
	width:300px;
	height:auto;
	z-index:1;
	left: 95px;
	top: -77px;
	background-color: #FFF;
	border: 1px solid #d2d2d2;
	padding: 10px;
	overflow: hidden;
	display: none;
}
#apDiv2 {
	position:relative;
	width:300px;
	height:auto;
	z-index:1;
	left: 295px;
	top: -77px;
	background-color: #FFF;
	border: 1px solid #d2d2d2;
	padding: 10px;
	overflow: hidden;
	display: none;
}
/*切换标签*/
.one{
	font-size: 12px;
}
.none{
	font-size: 12px;
	display:none
}
.active {
	cursor:pointer;
	background-color: #efefef;
	font-size: 12px;
	color: #f60;
}
.normal{cursor:pointer;

}
/* The main calendar widget.  DIV containing a table. */

.calendar {
  position: relative;
  display: none;
  border:2px solid #C9D7F1;
 /* border-top: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  */
  font-size: 11px;
  color: #666;
  cursor: default;
 /* background: #c8d0d4;*/
 background:white;
/*  font-family:tahoma,verdana,sans-serif;*/
  font-family:arial;
  margin-top:2px;
}

.calendar table {
/*עͱborder
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  */
  font-size: 12px;
  color: #666;
  cursor: default;
 /* background: #c8d0d4;*/
 background:white;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button01 { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;
  padding: 1px;
 /*
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  */
}

.calendar thead .title { /* This holds the current "month, year" */
  padding: 1px;
 /* border: 1px solid #000;*/
 /* background: #788084;*/
  background:;
  /*color: #fff; */
  color: #000;
  text-align: center;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
 /* border-bottom: 1px solid #000;*/
  padding: 2px;
  text-align: center;
  background: #E5ECF9;
  /*background:white;*/
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #f00;
  color:#666;
 
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
/*
  border-top: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  */
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff; 
  padding: 0px;
  background: #d8e0e4;
}

.calendar thead .active { /* Active (pressed) buttons in header */
 /* padding: 2px 0px 0px 2px;*/
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  background: #b8c0c4;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  text-align: center;
  padding: 2px 4px 2px 2px;

}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #e8f4f0;
}

.calendar tbody .rowhilite td {
  background: #d8e4e0;
}

.calendar tbody .rowhilite td.wn {
  background: #c8d4d0;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border: 1px solid;
  border-color: #fff #000 #000 #fff;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 1px 1px 0px 1px;
  border: 1px solid;
  border-color: #000 #fff #fff #000;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  padding: 2px 2px 0px 2px;
 /* border: 1px solid;*/
  border-color: #000 #fff #fff #000;
  background: #008000;
  color:#fff;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  /*color: #f00;*/
  /*color:#666;*/
}

.calendar tbody td.today { /* Cell showing today date */
  font-weight: bold;
   /* color: #00f;*/
  color:#000;
  color:#000000;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
 /* background: #e8f0f4;*/
  background:#fff;  
  padding: 1px;
 /* border: 1px solid #000;*/
  background: #788084;
  background:#fff; 
  /*color: #fff;*/color:#000;
  text-align: center;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  padding: 1px;
  background: #d8e0e4;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.combo {
  position: absolute;
  display: none;
  width: 4em;
  top: 0px;
  left: 0px;
  cursor: default;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  background: #d8e0e4;
  font-size: smaller;
  padding: 1px;
}

.combo .label {
  text-align: center;
  padding: 1px;
}

.combo .active {
 /* background: #c8d0d4;*/
 background:white;
  padding: 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

.combo .hilite {
  background: #048;
  color: #aef;
}
